<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/assets/img/favicon.ico">

  <title>Weather Service</title>

  <link rel="stylesheet" href="/assets/css/components/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
{{> body}}
<script src="/assets/js/vue.min.js" type='text/javascript'></script>
<script src="/assets/js/components/scripts.min.js" type='text/javascript'></script>
</body>
</html>